*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
    background-color: #F3F4F6;
    font-family: poppins;
    font-size: 12px;
}

.background {
    background: url(/img/main-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 500px) {
    .background {
        background-position: right;
        backdrop-filter: blur(8px);
        transition: ease 0.3s;
    }
}
